<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VS Mokeeth</title>
    <link rel="shortcut icon" href="{{ 'assets/favicon.ico' | relative_url }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ '/assets/css/bootstrap.css' | relative_url }}" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/fontawesome.css' | relative_url }}" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" type="text/css">
</head>